
services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: pgvector_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: